@import "../../assets/scss/mixin.scss";

.container {
  position: relative;
  display: flex;
  padding: 0 50px;
  margin: auto;
  justify-content: center;
}

.img {
  width: 600px;
  height: 500px;
  margin-right: 50px;
  margin-bottom: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapper {
  position: relative;
  display: flex;
  width: 700px;
  .indexWrapper {
    position: relative;
    .courseNumber {
      background-color: white;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      width: 60px;
      height: 60px;
      font-size: 3rem;
      font-weight: bold;
      color: rgb(69, 77, 47);
      border: 6px solid rgb(69, 77, 47);
    }

    .nextLine {
      position: absolute;
      right: 50%;
      transform: translateX(-50%);
      border-right: 8px rgb(69, 77, 47) dashed;
      height: 100%;
    }
  }
}

.contentsWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 2rem;

  .title {
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 5px;

    .starRate {
      margin: 0 10px;
      width: 40px;
      height: 40px;
    }

    .rate {
      font-size: 2rem;
    }
  }

  .openTime {
    color: rgb(77, 100, 166);
  }

  .refer {
    margin-top: 40px;
    color: rgb(202, 51, 51);
    font-size: 1.8rem;
  }
}

@include tablet {
  .container {
    position: relative;
    display: flex;
    padding: 0 50px;
    margin: auto;
    justify-content: center;
  }

  .img {
    width: 500px;
    height: 350px;
  }

  .wrapper {
    width: 600px;
    .indexWrapper {
      .courseNumber {
        width: 50px;
        height: 50px;
        font-size: 2.5rem;
      }

      .nextLine {
        transform: translateX(-100%);
        border-right: 6.5px rgb(69, 77, 47) dashed;
      }
    }
  }

  .contentsWrapper {
    font-size: 1.7rem;

    .title {
      font-size: 2rem;
      margin-bottom: 5px;

      .starRate {
        width: 30px;
        height: 30px;
      }

      .rate {
        font-size: 1.8rem;
      }
    }

    .refer {
      font-size: 1.5rem;
    }
  }
}

@include mobile {
  .container {
    padding: 0 10px;
  }

  .img {
    width: calc(100vw - 100px);
    height: calc(100vw / 2);
    margin-bottom: 10px;
    margin-right: 0;
  }

  .wrapper {
    width: 100%;
    margin-bottom: 40px;
    justify-content: center;
    .indexWrapper {
      margin-right: 10px;
      .courseNumber {
        margin-right: 10px;
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        border: 4px solid rgb(69, 77, 47);
      }

      .nextLine {
        border-right: 4px rgb(69, 77, 47) dashed;
      }
    }
  }

  .contentsWrapper {
    font-size: 1.1rem;

    .title {
      font-size: 1.3rem;
      margin-bottom: 5px;

      .starRate {
        margin: 0 5px;
        width: 15px;
        height: 15px;
      }

      .rate {
        font-size: 1rem;
      }
    }

    .refer {
      margin-top: 20px;
      font-size: 1rem;
    }
  }
}
