@import "../../assets/scss/mixin.scss";

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 150px 0;
}

.subTitle {
  font-size: 2rem;
  font-weight: bold;
  margin: 15px;
}

.titleContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .titleLine {
    position: absolute;
    left: 0;
    transform: translateY(450%);
    width: 100%;
    background-color: rgb(69, 77, 47);
    height: 10px;
  }

  .titleWrapper {
    position: relative;
    background-color: white;
    border-radius: 100px;
    border: 10px solid rgb(69, 77, 47);
    padding: 5px 60px;
    width: 500px;
    .title {
      font-size: 4rem;
      font-weight: bolder;
      color: rgb(69, 77, 47);
    }
  }
}

@include mobile {
  .container {
    margin: 50px 0;
  }

  .subTitle {
    font-size: 1.5rem;
  }

  .titleContainer {
    .titleLine {
      transform: translateY(300%);
    }

    .titleWrapper {
      padding: 5px 0px;
      width: 300px;
      .title {
        font-size: 2rem;
        font-weight: bolder;
        color: rgb(69, 77, 47);
      }
    }
  }
}
